extends layout.pug 

block content 
    .content 

        .content_r 
          p This app allows to add , remove and update the notes created by the users.
          p "This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service by 00013664"
          a.btn(href ='/create') Create note

        .content_l
          img(src="https://images.pexels.com/photos/768472/pexels-photo-768472.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="image")
