doctype html
html(lang="en")
  head
    title  Planner
    link(rel="stylesheet", href="/static/styles.css")
  body 
    header.navbar 
      h1
        a(href='/') Planner

      nav.nav 
        a(href='/') Home 
        a(href='/create') New Note
        a(href='/allnotes') All notes

        

        
    block content 

